.env
chatgpt_list.ipynb
git_notes.txt
audio_generator.ipynb
chatgpt_list.ipynb
Content.xlsx
el.ipynb
eleven_labs.py
git_notes.txt
video.ipynb
video_editor.ipynb
video_editor.py
reddit/
backup/
audios/